<div *ngIf="!errorOccurred">
  <div *ngIf="!isLoading">
    <div class="component-multi">
      <div class="leaderboard-component component">
        <h1>Leaderboard</h1>
        <table>
          <thead>
            <tr>
              <th>Player</th>
              <th>Wins</th>
              <th>Losses</th>
              <th>Total games</th>
              <th>%</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of leaderboard">
              <td>{{player.initials}}</td>
              <td>{{player.wins}}</td>
              <td>{{losses(player)}}</td>
              <td>{{player.totalGames}}</td>
              <td>{{percentage(player) | number: '2.2-2' }}</td>
            </tr>
          </tbody>
        </table>

        <app-button-select [(ngModel)]="teamFilter">
          <app-button-select-option [value]="Team.None">All games</app-button-select-option>
          <app-button-select-option [value]="Team.Resistance">Just resistance</app-button-select-option>
          <app-button-select-option [value]="Team.Spy">Just spies</app-button-select-option>
        </app-button-select>

        <app-button-select [(ngModel)]="timescaleFilter">
          <app-button-select-option [value]="Timescale.AllTime">All time</app-button-select-option>
          <app-button-select-option [value]="Timescale.Last7Days">Last 7 days</app-button-select-option>
          <app-button-select-option [value]="Timescale.Last30Days">Last 30 days</app-button-select-option>
        </app-button-select>

        <app-button-select [(ngModel)]="noOfPlayersFilter">
          <app-button-select-option [value]="4">All sizes</app-button-select-option>
          <app-button-select-option *ngFor="let value of [5,6,7,8,9,10,11]" [value]="value">{{value}}P</app-button-select-option>
        </app-button-select>

        <app-button-select [(ngModel)]="asOfWhenFilter">
          <app-button-select-option [value]="0">As of today</app-button-select-option>
          <app-button-select-option [value]="1">As of yesterday</app-button-select-option>
        </app-button-select>

      </div>

      <app-day-review class="component"></app-day-review>

      <div class="game-overview-component component">
        <h1>Game overview</h1>
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Res wins</th>
              <th>Spy wins</th>
              <th>Total games</th>
              <th>% Res Win</th>
              <th (click)="clickCounter()">% Win</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let games of gameOverview; let i = index">
              <td>{{ i === 0 ? 'All' : i+4+'P'}}</td>
              <td>{{games.resistanceWins}}</td>
              <td>{{gamesLosses(games)}}</td>
              <td>{{games.totalGames}}</td>
              <td>{{gamesPercentage(games) | number: '2.2-2' }}</td>
              <td>{{gameChanceOfWinning(games, i+4) | number: '2.2-2' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <app-percentage-graph class="component"></app-percentage-graph>
    </div>
  </div>
  <div *ngIf="clickCount > 5">
    <p><a [routerLink]="['/games']">To Games -></a></p>
  </div>
  <p *ngIf="isLoading">Loading...</p>
</div>
<div *ngIf="errorOccurred">
  <p> An error has occurred</p>
  <p style="color:dodgerblue" (click)="refresh()">Click here to refresh.</p>
</div>
