<h1>Leaderboard</h1>
<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Total games</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody *ngIf="!isLoading && !errorOccurred">
    <tr *ngFor="let player of leaderboard">
      <td>{{player.initials}}</td>
      <td>{{player.wins}}</td>
      <td>{{getLossCount(player)}}</td>
      <td>{{player.totalGames}}</td>
      <td>{{getWinPercentage(player) | number: '2.2-2' }}</td>
    </tr>
  </tbody>
</table>

<div class="no-content-message" *ngIf="isLoading && !errorOccurred">
  Loading...
</div>
<div class="no-content-message error-message" *ngIf="errorOccurred" (click)="reloadData()">
  An error has occurred.
  <br />
  Click here to reload.
</div>

<form [formGroup]="filters">
  <app-button-select formControlName="team">
    <app-button-select-option [selected]="true" [value]="Team.None">All games</app-button-select-option>
    <app-button-select-option [value]="Team.Resistance">Just resistance</app-button-select-option>
    <app-button-select-option [value]="Team.Spy">Just spies</app-button-select-option>
  </app-button-select>

  <app-button-select formControlName="timescale">
    <app-button-select-option [selected]="true" [value]="Timescale.AllTime">All time</app-button-select-option>
    <app-button-select-option [value]="Timescale.Last7Days">This week</app-button-select-option>
    <app-button-select-option [value]="Timescale.Last30Days">This month</app-button-select-option>
  </app-button-select>

  <app-button-select formControlName="noOfPlayers">
    <app-button-select-option [selected]="true" [value]="4">All sizes</app-button-select-option>
    <app-button-select-option *ngFor="let value of [5,6,7,8,9,10,11]" [value]="value">{{value}}P
    </app-button-select-option>
  </app-button-select>

  <app-button-select formControlName="asOfWhen">
    <app-button-select-option [selected]="true" [value]="0">As of today</app-button-select-option>
    <app-button-select-option [value]="1">As of yesterday</app-button-select-option>
  </app-button-select>

  <app-button-select formControlName="role">
    <app-button-select-option [selected]="true" [value]="Role.None">All roles</app-button-select-option>
    <app-button-select-option [value]="Role.Regular">Regular</app-button-select-option>
    <app-button-select-option [value]="Role.Hunter">Hunter</app-button-select-option>
    <app-button-select-option [value]="Role.Chief">Chief</app-button-select-option>
    <app-button-select-option [value]="Role.Dummy">Dummy</app-button-select-option>
  </app-button-select>
</form>