<h1>Graph</h1>

<div class="no-content-message" *ngIf="isLoading && !errorOccurred">
  Loading...
</div>
<div class="no-content-message error-message" *ngIf="errorOccurred" (dblclick)="reloadData()">
  An error has occurred.
  <br />
  Double-tap to reload.
</div>

<app-graph [xMin]="xMin"
           [xMax]="xMax"
           [yMin]="yMin"
           [yMax]="yMax"
           [xScale]="xScale"
           [yScale]="yScale"
           [xTickScale]="xTickScale"
           [yTickScale]="yTickScale"
           [xLabelScale]="xLabelScale"
           [yLabelScale]="yLabelScale"
           class="graph">
  <app-graph-x-gridline *ngFor="let line of xGridlines"
                        class="gridline special"
                        [x]="line"></app-graph-x-gridline>

  <app-graph-y-gridline *ngFor="let line of yGridlines"
                        class="gridline"
                        [y]="line"></app-graph-y-gridline>

  <app-graph-x-tick *ngFor="let line of xGridlines"
                    class="gridline special"
                    [x]="line"></app-graph-x-tick>

  <app-graph-y-tick *ngFor="let line of yGridlines"
                    class="gridline"
                    [y]="line"></app-graph-y-tick>

  <app-graph-x-label *ngFor="let line of xGridlines"
                     class="x-text"
                     [x]="line"
                     [text]="line"></app-graph-x-label>

  <app-graph-y-label *ngFor="let line of yGridlines"
                     class="y-text"
                     [y]="line"
                     [text]="line"></app-graph-y-label>

  <app-graph-dataline *ngFor="let player of players; let i = index;"
                      [xData]="getRelativeDays(player)"
                      [yData]="getWinPercentages(player)"
                      class="data-1"
                      [hue]="getHue(i)"></app-graph-dataline>
                      <!--TODO - TH - Move [hue] out of here, make it generic-->
</app-graph>

