<ng-content></ng-content>
<svg class="graph" [attr.viewBox]="viewBox">
  <!-- Background -->
  <rect class="graph-background" [attr.width]="xScale" [attr.height]="yScale" />
  <!-- Data clip path -->
  <clipPath [id]="clipPathId">
    <rect [attr.width]="xScale" [attr.height]="yScale" />
  </clipPath>
  <!-- X Gridlines -->
  <ng-container *ngFor="let line of xGridlines">
    <svg:line
      [ngClass]="line.classes"
      [attr.x1]="xValueToCoord(line.x)"
      [attr.x2]="xValueToCoord(line.x)"
      [attr.y1]="0"
      [attr.y2]="yScale"
      [attr.clip-path]="'url(#'+clipPathId+')'" />
  </ng-container>
  <!-- Y Gridlines -->
  <ng-container *ngFor="let line of yGridlines">
      <svg:line
        [ngClass]="line.classes"
        [attr.x1]="0"
        [attr.x2]="xScale"
        [attr.y1]="yValueToCoord(line.y)"
        [attr.y2]="yValueToCoord(line.y)"
        [attr.clip-path]="'url(#'+clipPathId+')'" />
  </ng-container>
  <!-- X Ticks -->
  <ng-container *ngFor="let tick of xTicks">
      <svg:line
        [ngClass]="tick.classes"
        [attr.x1]="xValueToCoord(tick.x)"
        [attr.x2]="xValueToCoord(tick.x)"
        [attr.y1]="yScale"
        [attr.y2]="yScale + yTickScale" />
  </ng-container>
  <!-- Y Ticks -->
  <ng-container *ngFor="let tick of yTicks">
      <svg:line
        [ngClass]="tick.classes"
        [attr.x1]="xScale"
        [attr.x2]="xScale + xTickScale"
        [attr.y1]="yValueToCoord(tick.y)"
        [attr.y2]="yValueToCoord(tick.y)" />
  </ng-container>
  <!-- X Labels -->
  <ng-container *ngFor="let label of xLabels">
      <svg:text
        [ngClass]="label.classes"
        [attr.x]="xValueToCoord(label.x) + label.xScaleOffset"
        [attr.y]="yScale + xLabelScale + label.yScaleOffset"
        [attr.font-size]="xLabelScale">
      {{label.text}}
      </svg:text>
  </ng-container>
  <!-- Y Labels -->
  <ng-container *ngFor="let label of yLabels">
      <svg:text
        [ngClass]="label.classes"
        [attr.x]="xScale + label.xScaleOffset"
        [attr.y]="yValueToCoord(label.y) + yLabelScale + label.yScaleOffset"
        [attr.font-size]="yLabelScale">
      {{label.text}}
      </svg:text>
  </ng-container>
  <!-- Datalines -->
  <ng-container *ngFor="let line of datalines">
    <svg:polyline [ngClass]="line.classes"
                  [ngStyle]="line.styles"
                  [attr.points]="coordsToPolylinePoints(xyZip(
          xValuesToCoords(line.xData),
          yValuesToCoords(line.yData)))"
                  [attr.clip-path]="'url(#'+clipPathId+')'"
                  [style.stroke]="getColour(line.hue)">
      <!--TODO - TH - Move [style.stroke] out of here, make it generic-->
    </svg:polyline>
  </ng-container>
</svg>
