.graph {
  background-color: var(--background-color);
  fill: var(--foreground-color);
}

.gridline {
  stroke: var(--background-color-1);
  stroke-width: 0.5;
}

.special {
  stroke: var(--background-color-1);
}

.graph-background {
  fill: var(--background-color);
}

.data-1 {
  stroke: blue;
  fill: none;
}
