<router-outlet></router-outlet>

<app-graph [xMin]="0"
           [xMax]="75"
           [yMin]="20"
           [yMax]="200"
           [xScale]="100"
           [yScale]="100">
  <app-graph-x-gridline [class.hee]="true" class="special" [x]="0"></app-graph-x-gridline>
  <app-graph-x-gridline [x]="10"></app-graph-x-gridline>
  <app-graph-x-gridline [x]="20"></app-graph-x-gridline>
  <app-graph-y-gridline></app-graph-y-gridline>
  <app-graph-dataline></app-graph-dataline>
</app-graph>

<svg class="graph" [attr.viewBox]="viewBox">

  <svg:g>
    <ng-container *ngFor="let axis of xGridlines">
      <svg:line class="gridline x-gridline" [attr.x1]="axis.x1" [attr.x2]="axis.x2" [attr.y1]="axis.y1" [attr.y2]="axis.y2" />
    </ng-container>
    <ng-container *ngFor="let axis of yGridlines">
      <svg:line class="gridline y-gridline" [attr.x1]="axis.x1" [attr.x2]="axis.x2" [attr.y1]="axis.y1" [attr.y2]="axis.y2" />
    </ng-container>
    <svg:path class="datapath" [attr.d]="dataPath"></svg:path>
  </svg:g>
</svg>
