.graph {
  width: 50%;

  .gridline {
    stroke: grey;
    stroke-width: 0.1px;

    &.y-gridline {
      stroke: lightgray;
    }
  }

  .datapath {
    stroke: green;
    fill: none;
  }
}

nav a {
  padding: 0 32px;
}

// DELETE BELOW HERE
.hello {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: cadetblue;
  position: relative;
}

