.game-player-dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;

  &.game-player-dot--win {
    background-color: green;
  }

  &.game-player-dot--loss {
    background-color: red;
  }
}

table {
  --cell-width: 2rem;
  width: 100%;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

td, th {
  border-bottom: 1px solid grey;
  text-align: center;
  width: var(--cell-width);
}

tr td:first-of-type {
  padding-left: var(--cell-width);
}

th {
  position: fixed;
  background-color: var(--white);
}

.title {
  display: flex;

  button {
    height: 2rem;
    width: 2rem;
    margin: auto 8px auto;
    border: 1px solid var(--grey);
    background-color: #FFFFFF;
    border-radius: 5px;
    color: var(--grey);

    &:hover {
      background-color: var(--grey-light);
    }

    &:focus {
      outline: none;
    }

    &[disabled] {
      background-color: #FFFFFF;
      border-color: var(--grey-xxlight);
      color: var(--grey-xxlight);
    }
  }

  h1 {
    flex-grow: 1;
  }
}

.no-content-message {
  padding: 2.5rem 0;
  color: var(--grey-xdark);
}

.error-message {
  font-style: italic;
}
