<a [routerLink]="['/']">Back to Main Page</a>
<div class="title">
  <h1>Win History</h1>
</div>
<div *ngIf="!isLoading">
  <table *ngIf="summaryGames.length > 0">
    <tr *ngFor="let player of summaryPlayers;">
      <th class="left-th">{{player}}</th>
      <td class="game-player-dot__container"
          [class.first-of-month]="getIsFirstOfMonth(game.id)"
          *ngFor="let game of summaryGames">
        <span class="game-player-dot"
              [class.game-player-dot--win]="getWinOrLoss(player, game) === true"
              [class.game-player-dot--loss]="getWinOrLoss(player, game) === false">
        </span>
      </td>
      <th class="right-th">{{player}}</th>
    </tr>
    <tr>
      <td *ngFor="let month of gameMonths;" [attr.colspan]="month.gameCount">Hey</td>
    </tr>
  </table>
</div>

<div class="no-content-message" *ngIf="isLoading && !errorOccurred">
  Loading...
</div>
<div class="no-content-message error-message" *ngIf="errorOccurred" (click)="reloadData()">
  An error has occurred.
  <br />
  Click here to reload.
</div>
