<div class="component-multi">
  <app-leaderboard class="leaderboard-component component"></app-leaderboard>
  <app-day-review class="component"></app-day-review>
  <app-streak-table class="component"></app-streak-table>
  <app-game-overview class="game-overview-component component"></app-game-overview>
  <app-percentage-graph *ngIf="clickCount > 5" class="percentage-history-component component"></app-percentage-graph>
  <div style="background-color:white; height: 30px; width: 100%" (click)="incrementClickCount()"></div>
</div>
