


<div *ngIf="!errorOccurred">
  <div *ngIf="!isLoading">
    <p><a [routerLink]="['/players/create']">Create new player</a></p>
    <table>
      <thead>
        <tr>
          <th>Initials</th>
          <th>Name</th>
          <th>Edit</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players" [class.is-archived]="player.isArchived">
          <td><span>{{player.initials}}</span></td>
          <td><span>{{player.firstName}} {{player.surname}}</span></td>
          <td><a [routerLink]="['/players/edit/' + player.id]">Edit</a></td>
          <td><a [routerLink]="['/players/detail/' + player.id]">Details</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p *ngIf="isLoading">Loading...</p>
</div>

<p *ngIf="errorOccurred">An error has occured</p>

