/* You can add global styles to this file, and also import other style files */
body {
  background-color: #fefefe;
}

.component {
  display: inline-block;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 0 0 25px;

  h1 {
    text-align: center;
  }
}

table {
  width: 100%;
}

td, th {
  border-bottom: 1px solid grey;
  text-align: center;
}
