/* You can add global styles to this file, and also import other style files */
:root {
  --subtle-purple: #f0f0fe;
  --subtle-purple-light: #f8f8fe;
  --grey-xxlight: #F0F0F0;
  --grey-light: #EEEEEE;
  --grey: #CCCCCC;
  --grey-dark: #999999;
  --grey-xdark: #666666;
  --grey-xxdark: #333333;

  user-select: none;
}

body {
  background-color: #ffffff;
}

.component-multi {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.component {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0 0 25px;
  text-align: center;
  box-shadow: 5px 5px 15px var(--grey);
  color: var(--grey-xxdark);
  min-width: 300px;
  flex-grow: 1;
}

.leaderboard-component {
  flex-grow: 5;
}

.percentage-history-component {
  flex-grow: 5;
}

table {
  width: 100%;
}

td, th {
  border-bottom: 1px solid grey;
  text-align: center !important;
}

.button-bar {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px dashed lightgrey;

  &:first-of-type {
    border-top: 1px dashed lightgrey;
  }

  &:last-of-type {
    border-bottom: 1px solid grey;
  }

  .button-bar_button {
    flex-grow: 1;
    width: 25%;
  }
}

app-button-select {
  display: flex;
  flex-wrap: wrap;
}

app-button-select-option {
  border: 1px solid var(--grey);
  color: #cccccc;
  flex-grow: 1;
  text-align: center;
  min-height: 2rem;
  border-radius: 5px;
  padding: 0.5rem;

  &.selected {
    border-color: var(--grey-dark);
    color: var(--grey-xdark);
    background-color: var(--subtle-purple-light);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--subtle-purple);
  }
}

@media (min-width: 576px) {
  .component-multi{
    max-width: 80%;
    margin: 20px auto;
  }

  .component {
    display: inline-block;
    margin-right: 20px;
    border: 1px solid var(--grey-xxlight);
    border-radius: 15px;
    padding: 0 0 25px;
    text-align: center;
    box-shadow: 5px 5px 15px var(--grey);
    color: var(--grey-xxdark);
    min-width: 300px;
  }
}

/*app-button-select-option.selected {
  border-color: #333333;
  color: #333333;
  background-color: #f0f0fe;*/

/*pp-button-select-option {
  border: 1px solid #cccccc;
  color: #cccccc;
  background-color: #ff3ff;
  flex-grow: 1;
  text-align: center;
  min-height: 2rem;
  border-radius: 5px;
  padding: 0.5rem;*/
