<div *ngIf="!errorOccurred">
  <div class="game-listing" *ngIf="!isLoading">
    <p><a [routerLink]="['/']">Back to Main Page</a></p>
    <p><a [routerLink]="['/games/create']">Create new game</a></p>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Win</th>
          <th>Players</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of games">
          <td>{{game.id}}</td>
          <td>{{game.date | date}}</td>
          <td [class.res-win]="game.resistanceWin" [class.spy-win]="!game.resistanceWin">{{game.resistanceWin ? 'RES' : 'SPY'}}</td>
          <td>{{game.players && game.players.length}}</td>
          <td><a [routerLink]="['/games/edit/' + game.id]">Edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p *ngIf="isLoading">Loading...</p>
</div>

<p *ngIf="errorOccurred">An error has occured</p>

