.game-player-dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;

  &.game-player-dot--win {
    background-color: var(--win-color);
  }

  &.game-player-dot--loss {
    background-color: var(--loss-color);
  }
}

table {
  width: 100%;
}

td, th {
  border-bottom: 1px solid grey;
  text-align: center;
}

.title {
  display: flex;

  button {
    height: 2rem;
    width: 2rem;
    margin: auto 8px auto;
    border: 1px solid var(--foreground-color-4);
    background-color: var(--background-color);
    border-radius: 5px;
    color: var(--foreground-color-4);

    &:hover {
      background-color: var(--background-color-1);
    }

    &:focus {
      outline: none;
    }

    &[disabled] {
      background-color: var(--background-color);
      border-color: var(--background-color-1);
      color: var(--background-color-1);
    }
  }

  h1 {
    flex-grow: 1;
  }
}
