<div *ngIf="!errorOccurred">
  <div *ngIf="!isLoading">
      <h1>Today</h1>
      <table *ngIf="summaryGames.length > 0">
        <tr *ngFor="let player of summaryPlayers;">
          <th>{{player}}</th>
          <td class="game-player-dot__container" *ngFor="let game of summaryGames">
            <span class="game-player-dot"
                  [class.game-player-dot--win]="summaryWinOrLoss(player, game) === true"
                  [class.game-player-dot--loss]="summaryWinOrLoss(player, game) === false">
            </span>
          </td>
        </tr>
      </table>
      <p *ngIf="summaryGames.length === 0">No games played today</p>
  </div>
  <p *ngIf="isLoading">Loading...</p>
</div>
<p *ngIf="errorOccurred">An error has occurred</p>
