<div class="title">
  <button (click)="previousDay()"><</button>
  <h1>{{daysAgoString}}</h1>
  <button [disabled]="daysAgo <= 0" (click)="nextDay()">></button>
</div>
<div *ngIf="!isLoading">
  <table *ngIf="summaryGames.length > 0">
    <tr *ngFor="let player of summaryPlayers;">
      <th>{{player}}</th>
      <td class="game-player-dot__container" *ngFor="let game of summaryGames">
        <span class="game-player-dot"
              [class.game-player-dot--win]="getWinOrLoss(player, game) === true"
              [class.game-player-dot--loss]="getWinOrLoss(player, game) === false">
        </span>
      </td>
    </tr>
  </table>
  <p *ngIf="summaryGames.length === 0">No games played {{daysAgoString.toLowerCase()}}</p>
</div>

<div class="no-content-message" *ngIf="isLoading && !errorOccurred">
  Loading...
</div>
<div class="no-content-message error-message" *ngIf="errorOccurred" (dblclick)="reloadData()">
  An error has occurred.
  <br />
  Double-tap to reload.
</div>
